
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Gemstones&display=swap');

@import "tailwindcss";
.section-bg{
  background-image: url('https://www.ascenciamalls.com/media/tgrczdug/finding-the-perfect.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:right ;
}
.text-font{
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.magic-font{
 font-family: "Rubik Gemstones", system-ui;
  font-weight: 200;
  font-style: normal;
}